*~
*#

*.pyc

# temp file e.g. from testing
.temp

*.vagrant*

link-to-*-private-key
deployment/group_vars/all/vault
deployment/playbooks/site.retry
.project
.pydevproject
udp*.log
playbooks/site.retry
deployment/host_vars/*blue
deployment/inventories/*blue.ini
