description "Gunicorn server for opentrv"

start on net-device-up
stop on shutdown

respawn

setuid opentrv
chdir /srv/opentrv/source

exec /srv/opentrv/virtualenv/bin/gunicorn --bind unix:/tmp/opentrv.socket opentrv.wsgi:application
